<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!--
          Allow GitHub Actions' emulator job to launch internal screens via `adb shell am start -n ...`
          without making these activities exported in release builds.
        -->
        <activity
            android:name="com.secondwaybrowser.app.OnboardingActivity"
            android:exported="true"
            tools:replace="android:exported" />

        <activity
            android:name="com.secondwaybrowser.app.SettingsActivity"
            android:exported="true"
            tools:replace="android:exported" />

        <activity
            android:name=".GuardInterventionActivity"
            android:exported="true"
            tools:replace="android:exported" />
    </application>
</manifest>
